@font-face {
  font-family: 'Aspekta';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/AspektaVF.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Silkscreen-Regular.ttf') format('truetype');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sans {
  font-family: var(--font-sans);
}

.pixel {
  font-family: var(--font-pixel);
}

.heading {
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  letter-spacing: 1.28px;
  font-weight: 644;
  line-height: 100%;
}

.heading-l {
  leading-trim: both;
  text-edge: cap;
  font-size: var(--font-size-l);
  font-weight: 644;
  line-height: 120%;
}

.heading-xl {
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-weight: 800;
  line-height: 100%;
  
  letter-spacing: 1.12px;
}

.heading-2xl {
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.64px;
}

@media (min-width: 768px) {
  .heading-2xl {
    font-size: var(--font-size-2xl);
  }
}

.body {
  
}

.body-s {

}

.body-l {
  font-size: var(--font-size-l);
  letter-spacing: -0.44px;
}

